.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-video-1 {
  width: 1037px;
  height: 503px;
  margin: 64px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 165px;
  }
}